<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style type="text/css" media="print">
		@media print {
		.contenido {height: 100%;}
		#listaObjetos {display:none;}
		#btnResponder {display:none;}
		#btnImprimir {display:none;}
		#btnVerRespuesta {display:none;}
		#btnDerivar {display:none;}
		#btnResolver {display:none;}
		#menu {display:none;}
		.taObsResolucion {display:none;}
		.lblObsResolucion {display:none;}
	</style>
	<style type="text/css">
		.loader{
        	display: none;
        	background-color:white;
	   		opacity:1;
	   		filter:alpha(opacity=60); /* IE < 9.0 */
      	}
		#solicitud input{
	    	border:0;
			border-bottom: 1px solid #009CBF;
	    }
	    input:focus{
			outline:none !important;
	    	outline-width: 0 !important;
	   		box-shadow: none;
	    	-moz-box-shadow: none;
	    	-webkit-box-shadow: none;
	    }
    	#datosSolicitud label, .modalDerivar label, .modalDevolver label{
    		width: 100px;
    	}
    	.select2-results__option { 
	  font-size: 10px;
	}
	</style>
	
</head>
<body>
	
	<div  th:fragment="detalleObjetos">
		<div style="width:100%; height: 100%" id=solicitud>
			<div th:each="dato:${datos}" id="datosSolicitud" class="datosSolicitud">
				<h6><strong>DATOS DEL AUXILIO JUDICIAL</strong></h6><br>
				<div class="form-row" style="font-size: 11px">
					<div style="width:70%;">
						<input th:value="${dato.idAuxilioJudicial}" id="id" type="hidden" class="id">
						<label style="width: 120px; font-size: 15px"><strong>ESPECIALIDAD: </strong></label><input style="font-weight: bold; font-size: 15px; text-align: center" th:value="${dato.especialidad.denominacion}" id="espec" readonly="readonly" size="40"><br><br>
						<label><strong>FECHA: </strong></label><input style="font-weight: bold" th:value="${#temporals.format(dato.fechaSistema, 'dd-MM-yyyy hh:mm:ss a')}" id="nombres" readonly="readonly" size="20">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="window.print();" id="btnImprimir" class="btn btn-outline-dark btn-sm" style="margin:auto"><i class='fas fa-print fa-lg'></i></button><br>
						<label><strong>SOLICITANTE: </strong></label><input style="font-weight: bold" th:value="${dato.nombres} + ' ' + ${dato.apePaterno} + ' ' + ${dato.apeMaterno}" id="nombres" readonly="readonly" size="40"><br>
						<label><strong>DNI: </strong></label><input th:value="${dato.documento}" id="documento" readonly="readonly" size="20" ><br>
						<label><strong>DIRECCION: </strong></label><input th:value="${dato.direccion}" readonly="readonly" size="65" value=""><br>
						
						
					</div>
					<div style="width:30%;" align="center" >
						<div th:if="${dato.estado == 'T' && dato.usuario == sesion}">
							<button class="btn btn-primary" id="btnResponder" style="margin:auto" data-toggle="modal" data-target="#modalRespuestaAuxJud"><strong><i class='fas fa-envelope'></i>&nbsp;RESPONDER</strong></button><br><br>
							<button class="btn btn-info btn-sm" id="btnLiberar" style="margin:auto" ><strong><i class='fas fa-reply'></i>&nbsp;LIBERAR</strong></button><br><br>
						</div>
						<div th:if="${dato.estado == 'T' && dato.usuario != sesion}">
							<button class="btn btn-warning" id="btnResponder" style="margin:auto" ><strong><i class='fas fa-envelope'></i>&nbsp;EN TRAMITE POR <span th:text="${dato.usuario}"></span></strong></button><br><br>
						</div>
						<div th:if="${dato.estado == 'A'}">
							<button style="cursor: default; margin:auto" class="btn btn-primary" id="btnVerRespuesta"><strong><i class='fas fa-envelope'></i>&nbsp;ATENDIDO</strong></button>
						</div>
						<div th:if="${dato.estado == 'O'}">
							<button style="cursor: default; margin:auto" class="btn btn-danger"><strong><i class='fas fa-exclamation'></i>&nbsp;OBSERVADO</strong></button><br><br>
						</div>
						
					</div>
				</div><br>
				<label><strong>DEMANDA: </strong></label><button th:attr="onclick='javascript:verAdjunto(1, \''+${dato.idAuxilioJudicial}+'\')'" type="button" class="btn btn-outline-danger btn-sm"><i class="fas fa-download"></i>&nbsp;DESCARGAR</button><hr>
				<div style="width: 5%; heigth: 100%;">
							<label><strong>&nbsp;&nbsp;ADJUNTOS: </strong></label>
				</div>
				<div style="width: 100%; heigth: 100%; margin: auto;">
					<table id="tablaAdjuntos" style="user-select: none; font-size: 11px" class="table table-hover table-sm">
						<tr style="cursor: pointer" th:each="archivo:${dato.archivoAuxJudS}">
							<td><input name="idAdjunto[]" type="hidden" th:value="${archivo.id}">ADJUNTO: <span th:text="${archivo.nombre}"></span>&nbsp;&nbsp;&nbsp;<button th:attr="onclick='javascript:verAdjunto(2, \''+${archivo.id}+'\')'" class="btn btn-outline-danger btn-sm"><i class="fas fa-download"></i></button></td>
						</tr>
					</table>
				</div><hr>

				<hr>
				<div style="font-size: 11px;" th:if="${dato.estado == 'A'}">
					<label style="width: 200px"><strong>ATENDIDO EL <span th:text="${#temporals.format(dato.fechaAtencion, 'dd-MM-yyyy hh:mm:ss a')}"></span></strong></label><br>
		      		<div class="input-group">
					  <div class="input-group-prepend">
					    <span class="input-group-text">MENSAJE</span>
					  </div>
					  <textarea style="height: 150px; font-size: 11px;" class="form-control" aria-label="With textarea" th:text="${dato.observacion}" readonly="readonly"></textarea><br>
					  
					</div>		
				</div>
			</div>
		</div>
	</div>
                
	<div class="modal fade modalRespuestaAuxJud" id="modalRespuestaAuxJud" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" >
		  <div class="modal-dialog">
		    <div class="modal-content" th:each="dato:${datos}">
		    	<div class="loader" id="loader" style="width: 100%; height: 100%;  position: absolute; z-index: 10000;" >
					<div style="position: relative; width: 100%; height: 100%;">
						<div style="background-color: white; width: 100%; height: 100%; padding-top:90px; padding-bottom: auto; padding-left: auto; padding-right: auto; " align="center">
							<div align="center">
								<img alt="ayuda" src="img/corteAQP.png" width="200">
							</div><br>
							<p><strong>ENVIANDO, ESPERE POR FAVOR!</strong></p>
								<img alt="" src="img/send-small.gif">
							<br><br><br><br><br><br>
						</div>
					</div>
				</div>
		    <form class="formRespuestaAuxJud" action="" id="formRespuestaAuxJud">
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel"><strong>RESPUESTA</strong></h5>
		        <button style="display:none;" type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      
		      		<div class="modal-body" style="font-size: 12px">
		      			<input class="solicitud" type="hidden" id="idAuxilioJudicial" name="idAuxilioJudicial" th:value="${dato.idAuxilioJudicial}">
		      			<label style="width: 90px"><strong>SOLICITANTE: </strong></label><input th:value="${dato.nombres}" id="solicitanteRespuesta" name="solicitanteRespuesta" readonly="readonly" size="40" ><br>
		      			<label style="width: 140px"><strong>COD DIGITALIZACION: </strong></label><input style="text-align: right;" onkeypress="return numbersonly(event)" maxlength="10" id="txtCodigo" name="txtCodigo" size="7" >
		      			<strong>-<label id="txtAnio" th:text="${anio}"></label>-ESC-
		      			<select id="lstOrgano">
						    <option th:each="organo:${organos}" th:value="${organo.id}" th:text="${organo.id}"></option>
						</select>-
						<select id="lstEspecialidad">
						    <option th:each="esp:${especialidades}" th:value="${esp.id}" th:text="${esp.id}"></option>
						</select></strong><br>
		      			<label style="width: 90px"><strong>ACCIÓN: </strong></label><select id="tipoRespuesta" name="tipoRespuesta">
		      				<option value="0">SELECCIONE ...</option>
		      				<option value="A">ACEPTAR</option>
		      				<option value="O">OBSERVAR</option>
		      			</select><br>
		      			<div class="input-group">
						  <div class="input-group-prepend">
						    <span class="input-group-text">RESPUESTA</span>
						  </div>
						  <textarea style="height: 130px" class="form-control"  required id="textoRespuesta" name="textoRespuesta" aria-label="With textarea"></textarea>
						</div><br>
		      		</div>
		      	
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class='fas fa-times fa-lg'></i>&nbsp;CANCELAR</button>
			        <button type="button" class="btn btn-primary" id="btnResponderAuxJud"><strong><i class='far fa-paper-plane'></i>&nbsp;ENVIAR</strong></button>
			      </div>
		      </form>
		    </div>
		  </div>
		</div>
		
		<div class="modal fade modal-fullscreen" id="modalArchivo" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-xl" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">ARCHIVO</h5>
		      </div>
		      <div class="modal-body">
		      	<div id="divArchivo"></div>
		      </div>
		      <div class="modal-footer">
		      <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class='fas fa-times fa-lg'></i>&nbsp;CERRAR</button>
		      </div>
		    </div>
		  </div>
		</div>
	
	<div class="modal fade modalSesion" id="modalSesion" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">ATENCIÓN</h5>

	      </div>
	      <div class="modal-body">
	      	<h6>La sesión ha caducado, por favor haga click en el botón OK.</h6>
	        <a class="btn btn-success" href="/">OK</a>
	      </div>
	      <div class="modal-footer">
			<embed id="embedArchivo">
	      </div>
	    </div>
	  </div>
	</div>

	<script type="text/javascript">
	
	$("#btnLiberar").click(function() {
		var json = {
				"idAuxilioJudicial" : $('#idAuxilioJudicial').val()
			};
			$.ajax({
				type:"PUT",
				url:"liberarAuxJud",
				cache:false,
				dataType:"json",
		   		contentType : "application/json",
		   		data : JSON.stringify(json),
				beforeSend:function(){
		            $('.loader').show();
		        },
				success:function(response) {
					
						$(".detalleObjetos").empty();
						$(".listaObjetos").load('getAuxiliosJudiciales');
						$('.loader').hide();
						$(".modalRespuestaAuxJud").modal('hide');
						$('body').removeClass('modal-open');
						$('.modal-backdrop').remove();

				}
			
			});
	});
	
	$("#btnResponderAuxJud").click(function() {
		if($('#tipoRespuesta').val() == '0'){
			toastr.clear();
			toastr.options = {
				"closeButton":true,
				"progressBar": true,
				"positionClass":"toast-topcenter-right"
			};
			toastr.warning("DEBE ELEGIR ACCION!!");
			return false;
		}
		
		if($('#textoRespuesta').val() == ''){
			toastr.clear();
			toastr.options = {
				"closeButton":true,
				"progressBar": true,
				"positionClass":"toast-topcenter-right"
			};
			toastr.warning("DEBE CONSIGNAR RESPUESTA!!");
			return false;
		}
		
		var nomenclatura = $('#txtAnio').html() + "-ESC-" + $('#lstOrgano').val() + "-" + $('#lstEspecialidad').val();
		var json = {
			"idAuxilioJudicial" : $('#idAuxilioJudicial').val(),
			"tipoRespuesta" : $('#tipoRespuesta').val(),
			"textoRespuesta" : $('#textoRespuesta').val(),
			"codigo" : $('#txtCodigo').val(),
			"nomenclatura" : nomenclatura
		};
		$.ajax({
			type:"PUT",
			url:"guardarRespuestaAuxJud",
			cache:false,
			dataType:"json",
	   		contentType : "application/json",
	   		data : JSON.stringify(json),
			beforeSend:function(){
	            $('.loader').show();
	        },
			success:function(response) {
				
					$(".detalleObjetos").empty();
					$(".listaObjetos").load('getAuxiliosJudiciales');
					$('.loader').hide();
					$(".modalRespuestaAuxJud").modal('hide');
					$('body').removeClass('modal-open');
					$('.modal-backdrop').remove();
					Swal.fire(
						  'RESPUESTA ENVIADA!!',
						  'Click en OK para continuar!',
						  'success'
						);
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) { 
				toastr.clear();
				toastr.options = {
					"closeButton":true,
					"progressBar": true,
					"positionClass":"toast-topcenter-right"
				};
				toastr.warning("No se pudo gestionar"); 
			}
		
		});
	});	
	
	function verAdjunto(tipo, id){
		$('#divArchivo').empty();
		$.ajax({
			url: 'descargarArchivoAuxilioJudicial?tipo=' + tipo + '&id=' + id,
			method: 'GET'
		}).then(function(data) {
			if(data.nombre == null){
				toastr.clear();
				toastr.options = {
					"closeButton":true,
					"progressBar": true,
					"positionClass":"toast-topcenter-right"
				};
				toastr.warning(data.error);
			}
			else{
				var xhr = new XMLHttpRequest();
			    xhr.open('GET', 'verArchivoAuxilioJudicial/' + data.nombre, true);
			    xhr.responseType = 'arraybuffer';
			    xhr.onload = function(e) {
			       if (this.status == 200) {
			          var blob=new Blob([this.response], {type:"application/pdf"});
			          let blobUrl = window.URL.createObjectURL(blob);
			          var iframe = $('<iframe frameborder="0" height="550px" width="100%">');
			          iframe.attr('src', blobUrl);
			          $('#divArchivo').append(iframe);
					  $('#modalArchivo').modal({show:true});
			       }
			    };
				xhr.send();
			}
		});
	};
	
	$('#btnUnir').click(function(){
		var url='unirArchivosAuxJud';
		url = url + '/'+ $('.id').val() +'/' + encodeURIComponent(JSON.stringify($('[name="idAdjunto[]"]').serializeArray())),
		window.open(url,'nuevaVentana','width=600, height=630');
	});

	</script>
</body>
</html>