<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script src="js/sweetalert2.all.min.js" th:src="@{js/sweetalert2.all.min.js}"></script>	
	<script src="js/toastr.min.js" th:src="@{js/toastr.min.js}"></script>
	<link rel="stylesheet" href="css/toastr.min.css" >
	<style type="text/css">
	  	.selected{ background-color: #E1E1E1; } tr:hover{ background-color: #E1E1E1; } 
	  	input{
    		border:0;
	    	border-bottom: 1px solid #009CBF; 
    	}
    	input:focus{
			outline:none !important;
	    	outline-width: 0 !important;
	   		box-shadow: none;
	    	-moz-box-shadow: none;
	    	-webkit-box-shadow: none;
	    }
	    
		.animated {
		  animation: blinker 1s linear infinite;
		}
		
		@keyframes blinker {
		  50% {
		    opacity: 0;
		  }
		}
	</style>
</head>
<body>
	
	<div  th:fragment="listaObjetos">
		<div style="width:100%; height: 100%" id=documento>
			<div class="form-row">
				<div class="form-row">
				<select id="lstTipoBusqueda"><option style="font-size: 11px" value="T">NOMBRES. o EXP.</option><option style="font-size: 11px" value="F">FECHA INGRESO</select>&nbsp;&nbsp;
				<div><input id="fecInicio" style="font-size: 12px; width: 110px; display: none;" name="fecInicio" type="date"/>&nbsp;&nbsp;
				<input id="fecFin" style="font-size: 12px; width: 110px; display: none;" name="fecFin" type="date"/>&nbsp;&nbsp;
				<input id="x_texto" style="font-size: 12px;" name="x_texto" class="x_texto" type="text" placeholder="Escriba aqui" />&nbsp;&nbsp;
				<button type="button" id="btnBuscarDocumentos" class="btn btn-outline-primary btn-sm"><i class='fas fa-search'></i></button></div>
				<div sec:authorize="hasRole('JEFE-CDG')" style="padding-left: 80px"><button type="button" data-toggle="modal" data-target="#modalFiltroSedes" class="btn btn-outline-info btn-sm"><i class='fas fa-filter'></i>&nbsp;FILTRO</button></div>
				</div>
			</div>
			<table style="font-size:10px" class="table table-hover table-sm tablaDocumentos" id="tablaDocumentos">
				<thead>
					<tr>
						<th></th>
						<th><strong><label style="font-size: 12px" th:text="${tipo}"></label></strong> - <strong><label id="lblRows" style="font-size: 12px"></label></strong><input type="hidden" id="formulario" th:value="${formulario}"></th>
						<th align="center"><button onclick="actualizar()" class="btn btn-outline-success btn-sm"><i class='fas fa-sync-alt fa-lg'></i></button></th>
					</tr>
				</thead>
				<tbody class="buscar">
					<tr style="cursor: pointer" th:each="documento:${documentos}" id="filasDocumentos" class="filasDocumentos">
						<td th:text="${documento.id}"></td>
						<td style="display: none" th:text="${documento.estado}">
						<td><strong>DE: <i><span th:text="${documento.usuarioExterno.nombres + ' ' + documento.usuarioExterno.apellidos}"></span></i>&nbsp;&nbsp;&nbsp;INGRESADO: <i><span th:text="${#temporals.format(documento.fecSistema, 'dd-MM-yyyy hh:mm:ss a')}"></span></i></strong><br><strong>TIPO DOCUMENTO: <span th:text="${documento.cdgTipoDocumento.denominacion}"></span></strong><br>
						<strong> EXP: </strong> <span th:text="${documento.expediente}"></span> - <span th:text="${documento.instancia.denominacion}"></span><br><strong>SEDE: <i th:text="${documento.sede.denominacion}"></i></strong><span sec:authorize="hasRole('JEFE-CDG')"><br><strong>ASISTENTE CDG: </strong><span th:text="${documento.usuarioInterno}"></span></span></td>
						<td th:switch="${documento.estado}" align="center">
                           	<label class="switch">
                           	<span th:case="'P'" ><img src="img/mensaje.png" align="middle" th:src="@{img/mensaje.png}" width="25"/><br>PENDIENTE</span>
                           	<span th:case="'R'" ><img src="img/sinvisto.png" align="middle" th:src="@{img/sinvisto.png}" width="30"/><br>OBSERVADO</span>
                           	<span th:case="'S'" ><img src="img/rechazado.png" align="middle" th:src="@{img/rechazado.png}" width="28"/><br>RECHAZADO POR EL SISTEMA</span>
                           	<span th:case="'A'" ><img src="img/enviado.png" align="middle" th:src="@{img/enviado.png}" width="28"/><br>REGISTRADO EN SIJ</span>
							</label><br>
							<span class="animated" sec:authorize="hasRole('JEFE-CDG')"><strong style="color: #C50000; font-size: 14px;" th:if="${documento.superior == 'S' and documento.estado == 'P'}">URGENTE</strong></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="modal fade modalFiltroSedes" id="modalFiltroSedes" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">FILTRO</h5>
	      </div>
	      <div class="modal-body">
	      	<select id="lstSedes" class="" style="width: 350px">
	      		<option style="font-size: 11px" th:each="sede: ${sedes}" 
     				th:value="${sede.id}" th:text="${sede.denominacion}" ></option>
	     	</select>
	     	<button type="button" class="btn btn-primary btn-sm btnFiltrarCDG"><strong><i class='fas fa-filter'></i>&nbsp;FILTRAR</strong></button>    
	      </div>
	      <div class="modal-footer">
			 <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class='fas fa-times fa-lg'></i>&nbsp;SALIR</button>
			 
	      </div>
	    </div>
	  </div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function(){
			var rowCount = $('#tablaDocumentos tr').length;
	    	document.getElementById('lblRows').innerHTML = 'Registros: ' + (rowCount-1);
	    	$('.txtBuscardocumento').val('');
	    	
	    	$('#lstTipoBusqueda').change(function(){
				var accion = $(this).find(":selected").val();
				if(accion == 'T'){
					$('#x_texto').show();
					$('#fecInicio').hide();
					$('#fecFin').hide();
				}
				else{
					$('#x_texto').hide();
					$('#fecInicio').show();
					$('#fecFin').show();
				}
			});
	    	
	    });

		$("#tablaDocumentos #filasDocumentos").click(function(){
			$(this).addClass('selected').siblings().removeClass('selected');	 

		   	var value=$(this).find('td:first').html();
		   	var form=$('#formulario').val();

		   	$(".detalleObjetos").empty();
			$.get( "detalleDocumento", { id: value, formulario: form})
				.done(function(data) {
					$(".detalleObjetos").html(data);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.success("DATOS RECUPERADOS!!");
				})
				.fail( function() {
					Swal.fire({
					  	icon: 'error', title: 'ATENCIÓN', text: 'Algo salió mal, no se pudo obtener la información. Actualice toda la página!!',
					});
				});
		});	
		
		$('#btnBuscarDocumentos').click(function(){
			getRegistrosCDG();
		});
		
		function actualizar(){
				getRegistrosCDG();
		};
		
		function getRegistrosCDG(){
			var parametro = $('#x_texto').val();
			var fecInicio = $('#fecInicio').val();
			var fecFin = $('#fecFin').val();
			var sede = $('#lstSedes').val();
			$.get( "MESAPARTES", {sede:sede, parametro:parametro, fecInicio:fecInicio, fecFin:fecFin})
		    .done(function( data ) {
		    	$(".listaObjetos").html(data);
		    	$(".detalleObjetos").empty();
		    	toastr.clear();
				toastr.options = {
					"closeButton":true,
					"progressBar": true,
					"positionClass":"toast-topcenter-right"
				};
				toastr.success("REGISTROS ACTUALIZADOS!!");
		    });
		}
		
		$('.btnFiltrarCDG').click(function(){
			$('#x_texto').val('');
			$('#fecInicio').val('');
			$('#fecFin').val('');
			getRegistrosCDG();
			$("#modalFiltroSedes").modal('hide');
			$('body').removeClass('modal-open');
			$('.modal-backdrop').remove();
		});
	</script>
</body>
</html>