<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<style type="text/css">
	 	.selected{ background-color: #E1E1E1; } tr:hover{ background-color: #E1E1E1; } 

		input{
	    	border:0;
		    border-bottom: 1px solid #009CBF;
		    font-size: 11px;
	    }
	    
	    .modalLabel{
	    	width: 100px;
	    	font-weight: bold;
	    }

	</style>
</head>
<body>
	
	<div class="card card-body">
		<div style="width:100%; height: 100%; font-size: 11px" id=solicitud> <input id="txtEspecialidad" type="hidden" th:value="${especialidadUsuario}">
			<div>
				<label><strong>BUSCAR: </strong></label>&nbsp;
				<select id="lstAccion" name="accion" >
					<option value="0">SELECCIONE ...</option>
					<option value="N">AUDIENCIAS SIJ</option>
					<option value="P">PUBLICACIONES</option>
				</select>&nbsp;&nbsp;&nbsp;
				<label><strong>SEDE: </strong></label>&nbsp;
				<select id="lstSede" name="sede" >
					<option value="0">SELECCIONE ...</option>
					<option th:each="sede: ${sedes}" 
						th:value="${sede.id}" th:text="${sede.denominacion}"></option>
				</select>&nbsp;&nbsp;&nbsp;
				<label><strong>FECHA: </strong></label>&nbsp;<input type="date" id="txtFecha">&nbsp;&nbsp;&nbsp;
				<button type="button" class="btn btn-outline-info btn-sm" onclick="getAudiencias()"><i class='fas fa-search'></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="button" class="btn btn-primary" id="btnPublicarAudiencias" style="display:none"><i class='fas fa-save'></i>&nbsp;PUBLICAR</button>
			
			</div><br>
			<div style="width:100%; height: 100%; font-size: 11px" id="divInstancias" >
			</div><hr color="#790000">
			<div>
				<table style="font-size:11px" class="table table-hover table-sm" id="tablaAudiencias" >	
				</table>
			</div>
		</div>
	</div>
	
	<div class="modal fade bd-example" id="modalEditarAudiencia" data-backdrop="static" data-keyboard="false"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h6 class="modal-title" id="exampleModalLabel"><strong>DATOS DE AUDIENCIA</strong></h6>
		        <button style="display: none" type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form class="guardarAudiencia" id="guardarAudiencia" action="" method="post" enctype="multipart/form-data">
		      	<div class="modal-body" style="font-size: 11px">
					<input type="hidden" id="txtIdAudiencia"/>
					<label class="modalLabel">EXPEDIENTE: </label>
					<input type="text" id="txtExpediente" size=40 readonly/><br>
					<label class="modalLabel">HORA:</label>
					<input type="text" id="txtHora" size=10 readonly/><br>
					<label class="modalLabel">ENLACE</label>
					<input type="text" id="txtEnlace" size=30/><br>
					<label class="modalLabel">ESTADO</label>
					<select id="lstEditarEstado">
						<option value="P">PUBLICADO</option>
						<option value="R">RESERVADO</option>
						<option value="A">ANULADO</option>
					</select>
		      	</div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary btn-sm cerrar" data-dismiss="modal">CERRAR</button>
		        <button type="button" class="btn btn-primary" id="btnGuardarModificacionAudiencia"><i class="fas fa-save"></i>&nbsp;GUARDAR</button>
		      </div>
		      </form>
		    </div>
		  </div>
		</div>
	
	<script type="text/javascript">
	   	$(document).ready(function() {
	   		
	   		$("#lstAccion").change(function() {
	      		var accion = $(this).find(":selected").val();
	      		$("#tablaAudiencias").empty();
	 			if(accion=="N")
	 				$("#btnPublicarAudiencias").show();
	 			else 
	 				$("#btnPublicarAudiencias").hide();
	    	});
	   		
	    	$("#lstSede").change(function() {
	      		var idSede = $(this).find(":selected").val();
	      		var especialidad = $("#txtEspecialidad").val();
	 
		      	$.ajax({
		       		type : "GET",
		       		url : "getInstanciaAudiencia?sede=" + idSede + "&especialidad=" + especialidad,
			        dataType : 'json',
			        success : function(data) {
			         	var html = '';
			         	var len = data.length;
			         	html += '<div class="row row-cols-2 row-cols-sm-2 row-cols-md-2">';
			         	for (var i = 0; i < len; i++) {
							html+='<div class="col"><label><input name="instancia" type="checkbox" id="cbox1" value="'+ data[i].id+'"> '+data[i].denominacion+'</label></div>';
			         	}
			         	html += ' </div>';
				        $("#divInstancias").html(html);
			        },
		        	error : function(e) {
		        	 	Swal.fire({
						  	icon: 'error',
						  	title: 'ATENCIÓN',
						  	text: 'No se pudo cargar instancias.!!',
						});
			     	}
		      	});
	    	});

	    	
	    	$("#btnPublicarAudiencias").click(function(){
	    		var html = '';
	    		var audiencias = [];
	    		$('#tablaAudiencias .filaAudiencia').each(function() {
	    			var audiencia = {};
	    			var estado = $(this).find("td:eq(10) select").val();
	    			if(estado != 'O'){
	    				audiencia["expediente"] = $(this).find("td:eq(0)").text();
	    				audiencia["idInstancia"] = $(this).find("td:eq(1)").text();
	    				audiencia["idSede"] = $(this).find("td:eq(2)").text();
	    				audiencia["especialidad"] = $("#txtEspecialidad").val();
	    				audiencia["parte1"] = $(this).find("td:eq(4)").text();
	    				audiencia["parte2"] = $(this).find("td:eq(5)").text();
	    				audiencia["delito"] = $(this).find("td:eq(6)").text();
	    				audiencia["tipo"] = $(this).find("td:eq(7)").text();
	    				audiencia["fechaHora"] = $(this).find("td:eq(8)").text();
	    				audiencia["enlace"] = $(this).find("td:eq(11) input").val();
	    				audiencia["estado"] = estado;
	    				audiencias.push(audiencia);
	    			}
	    		});
	    		if(audiencias.length == 0){
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.error("Debe seleccionar al menos una audiencia!!");
	    		}
	    		else{
	    			$.ajax({
	    				type: "POST",
	    				url: "publicarAudiencias",
	    				data: JSON.stringify(audiencias),
	    				cache: false,
	    				dataType: "json",
	    				contentType: "application/json; charset=utf-8",
	    				processData: false,
	    				success:function(response) {
	    					$("#tablaAudiencias").empty();
	    					Swal.fire(
	    						'AUDIENCIAS PUBLICADAS!!',
	    						'Click en OK para continuar!',
	    						'success'
	    					);	
	    				},
	    		        error : function(response){
	    		        	var r = jQuery.parseJSON(response.responseText);
	    					toastr.clear();
	    					toastr.options = {
	    						"closeButton":true,
	    						"progressBar": true,
	    						"positionClass":"toast-topcenter-right"
	    					};
	    					toastr.warning(r.message);	
	    		        }
	    			});
	    		}
	        });
	    	
	    	$("#btnGuardarModificacionAudiencia").click(function(){
	    		
	    		var enlace = $("#txtEnlace").val();
	    		var estado = $("#lstEditarEstado").val();
	    		

    			var audiencia = {};
	    		audiencia["id"] = $("#txtIdAudiencia").val();
	    		audiencia["enlace"] = $("#txtEnlace").val();
	    		audiencia["estado"] = $("#lstEditarEstado").val();
	    		
    			$.ajax({
    				type: "PUT",
    				url: "modificarAudiencia",
    				data: JSON.stringify(audiencia),
    				cache: false,
    				dataType: "json",
    				contentType: "application/json; charset=utf-8",
    				processData: false,
    				success:function(response) {
    					$("#modalEditarAudiencia").modal('hide');
    					$("#tablaAudiencias").empty();
    					getAudiencias();
    					Swal.fire(
    						'AUDIENCIA MODIFICADA!!',
    						'Click en OK para continuar!',
    						'success'
    					);	
    				},
    		        error : function(response){
    		        	var r = jQuery.parseJSON(response.responseText);
    					toastr.clear();
    					toastr.options = {
    						"closeButton":true,
    						"progressBar": true,
    						"positionClass":"toast-topcenter-right"
    					};
    					toastr.warning(r.message);	
    		        }
    			});
	        });
	  	});
  	</script>
	
    <script type="text/javascript">
    
	    function getAudiencias(){
			var accion = $("#lstAccion").val();
			var idSede = $("#lstSede").val();
			var fecha = $("#txtFecha").val();
			var especialidad = $("#txtEspecialidad").val();
	        var instancias = [];
	        $.each($("input[name='instancia']:checked"), function(){
	        	instancias.push($(this).val());
	        });
	        
			if(instancias.length == 0 || idSede == '0' || accion == '0' || fecha == ''){
				toastr.clear();
				toastr.options = {
					"closeButton":true,
					"progressBar": true,
					"positionClass":"toast-topcenter-right"
				};
				toastr.warning("Debe completar todos los campos!!");
				return false;
			}
			
			var endPoint;
			if(accion == "N")
				endPoint = "getAgendaSij";
			else
				endPoint = "getAudienciasPublicadas";
	        
	        $.ajax({
	       		type : "GET",
	       		url : endPoint + "?sede=" + idSede + "&instancias=" + instancias + "&fecha=" + fecha,
		        dataType : 'json',
		        success : function(data) {
		         	var html = '';

		         	if(accion=="N"){
			         	html += '<tbody><tr><th>EXPEDIENTE</th><th style="display:none;"></th><th style="display:none;"></th><th>INSTANCIA</th><th style="display:none;"></th><th style="display:none;"></th><th>DELITO</th><th>TIPO</th><th style="display:none;"></th><th>HORA</th><th>ESTADO</th><th>ENLACE</th></tr>';
			         	for (var i = 0; i < data.length; i++) {
			         		var delito = '';
			         		if(data[i].delito != null)
			         			delito = data[i].delito;
							html+='<tr class="filaAudiencia"><td>'+data[i].expediente+'</td><td style="display:none;">'+data[i].idInstancia+'</td><td style="display:none;">'+
							data[i].idSede+'</td><td>'+data[i].instancia+'</td><td style="display:none;">'+data[i].parte1+'</td><td style="display:none;">'+data[i].parte2+'</td><td>'+delito+'</td><td>'+
							data[i].tipo+'</td><td style="display:none;">'+data[i].fechaHora +'</td><td>'+data[i].hora +'</td><td><select><option value="P">PUBLICAR</option><option value="R">RESERVAR</option><option value="O">OMITIR</option></select></td>'+
							'<td><input type="text" size="40px" value="'+data[i].enlace+'"></td></tr>';
			         	}
			         	html += '</tbody>';
		         	}
		         	else{
		         		html += '<tbody><tr><th>EXPEDIENTE</th><th style="display:none;"></th><th style="display:none;"></th><th>INSTANCIA</th><th style="display:none;"></th><th style="display:none;"></th><th>TIPO</th><th style="display:none;"></th><th>HORA</th><th>ENLACE</th><th>ESTADO</th><th>EDITAR</th></tr>';
			         	for (var i = 0; i < data.length; i++) {
							html+='<tr class="filaAudiencia"><td>'+data[i].expediente+'</td><td style="display:none;">'+data[i].idInstancia+'</td><td style="display:none;">'+
							data[i].idSede+'</td><td>'+data[i].instancia+'</td><td style="display:none;">'+data[i].parte1+'</td><td style="display:none;">'+data[i].parte2+'</td><td>'+
							data[i].tipo+'</td><td style="display:none;">'+data[i].fechaHora +'</td><td>'+data[i].hora +'</td><td>'+data[i].enlace+'</td><td>'+data[i].estado+'</td><td>'+
							"<button type='button' class='btn btn-warning btn-sm' onclick='editarAudiencia(" + data[i].id + ")'><i class='fas fa-edit'></i></button></td></tr>";
			         	}
			         	html += '</tbody>';
		         	}
		         	
			        $("#tablaAudiencias").html(html);
		        },
	        	error : function(e) {
	        	 	Swal.fire({
					  	icon: 'error',
					  	title: 'ATENCIÓN',
					  	text: 'No se pudo cargar audiencias publicadas!!',
					});
		     	}
	      	});
	    };
	    
		function editarAudiencia(id){
			$.ajax({
	       		type : "GET",
	       		url : "getAudiencia?id=" + id,
		        dataType : 'json',
		        success : function(data) {
					$("#modalEditarAudiencia").modal('show');
					$("#txtIdAudiencia").val(data.id);
					$("#txtExpediente").val(data.expediente);
					$("#txtHora").val(data.hora);
					$("#txtEnlace").val(data.enlace);
					$("#lstEditarEstado").val(data.estado);
		        },
	        	error : function(e) {
	        	 	Swal.fire({
					  	icon: 'error',
					  	title: 'ATENCIÓN',
					  	text: 'No se pudo cargar los datos!!',
					});
		     	}
	      	});
		}
	</script>

</body>
</html>