@charset "ISO-8859-1";	

		
	    html, body {
	      	margin: 10;
	      	height: 100%;
	      	padding: 10;
	      	font-size: 14px;
  			font-family: Arial, Helvetica, sans-serif;
  			overflow-y: hidden;
	 		overflow-x: hidden;
	    }
	    
	    #datosSolicitud input{
	    	border:0;
	    	border-bottom: 1px solid #009CBF; 
	    	text-align:center";
	    }
	    
	    #modalRespuesta input{
	    	border:0;
	    	border-bottom: 1px solid #009CBF; 
	    	text-align:center";
	    }
	    
	    #datosSolicitud label{
	    	width: 90px;
	    }
	    
	    #menu, #cabecera{
		    width: 95%;
			margin: auto;
	    }
	    
	    #menu a{
	    	color: white;
	    	margin-right: 15px;
	    	margin-left: 10px;
	    	text-decoration:none;
	    	font-size: 11px;
	    	cursor: hand;
	    }
	    .links a{
	    	display: block;
	    }
	    
	    #menu a{
		  display: inline-block;
		  vertical-align: middle;
		  -webkit-transform: translateZ(0);
		  transform: translateZ(0);
		  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
		  -webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
		  -moz-osx-font-smoothing: grayscale;
		  position: relative;
		  overflow: hidden;
		}
a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom:0;
  background: white;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

a:hover:before, a:focus:before, a:active:before {
  left: 0;
  right: 0;
}
