<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script src="js/sweetalert2.all.min.js" th:src="@{js/sweetalert2.all.min.js}"></script>	
	<script src="js/toastr.min.js" th:src="@{js/toastr.min.js}"></script>
	<script src="js/printThis.js" th:src="@{js/printThis.js}"></script>
	<script type="text/javascript" src="js/jquery.richtext.js"></script>
	<link rel="stylesheet" href="css/toastr.min.css" >
	<link rel="stylesheet" href="css/main.css" >
	<link rel="stylesheet" href="css/richtext.min.css">
	<link rel="stylesheet" href="css/estiloPrint.css">
	<style type="text/css" media="print">
		@media print {
		.contenido {height: 100%;}
		#listaObjetos {display:none;}
		#btnResponder {display:none;}
		#btnImprimir {display:none;}
		#btnVerRespuesta {display:none;}
		#btnDerivar {display:none;}
		#btnResolver {display:none;}
		#menu {display:none;}
		.taObsResolucion {display:none;}
		.lblObsResolucion {display:none;}
		
	</style>
	<style type="text/css">
		.loader{
        	display: none;
        	background-color:white;
	   		opacity:1;
	   		filter:alpha(opacity=60); /* IE < 9.0 */
      	}
		#solicitud input{
	    	border:0;
			border-bottom: 1px solid #009CBF;
	    }
	    input:focus{
			outline:none !important;
	    	outline-width: 0 !important;
	   		box-shadow: none;
	    	-moz-box-shadow: none;
	    	-webkit-box-shadow: none;
	    }
    	#datosSolicitud label, .modalDerivar label, .modalDevolver label{
    		width: 100px;
    	}
    	.select2-results__option { 
	  font-size: 10px;
	}
	</style>
	
</head>
<body>
	
	<div  th:fragment="detalleObjetos">
		<div style="width:100%; height: 100%" id=solicitud>
			<div th:each="dato:${detalle}" id="datosSolicitud" class="datosSolicitud">
				<h6><strong>DATOS DEL REGISTRO</strong></h6>
				<div class="form-row">
					<div style="width:70%; font-size: 11px">
						<input th:value="${dato.n_id}" id="id" type="hidden" class="id">
						
						<label><strong>FECHA: </strong></label><input style="font-weight: bold" th:value="${dato.fechaRegistro}" id="nombres" readonly="readonly" size="20">&nbsp;&nbsp;&nbsp;<button th:href="@{consultaReniec/(dni=${dato.s_dni})}" class="btn btn-outline-primary btn-sm btnReniec" ><i class='fas fa-fingerprint fa-lg'></i>&nbsp;</button>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="window.print();" id="btnImprimir" class="btn btn-outline-dark btn-sm" style="margin:auto"><i class='fas fa-print fa-lg'></i></button><br>
						<label><strong>DNI: </strong></label><input th:value="${dato.s_dni}" id="documento" readonly="readonly" size="20" ><br>
						<label><strong>NOMBRES: </strong></label><input style="font-weight: bold" th:value="${dato.nombresCompletos}" id="nombres" readonly="readonly" size="40"><br>
						<label><strong>CELULAR: </strong></label><input style="font-weight: bold" th:value="${dato.s_celular}" id="nombres" readonly="readonly" size="40"><br>
						<label><strong>CORREO: </strong></label><input th:value="${dato.s_correo}" id="tipoDocumento" readonly="readonly" size="30" value=""><br>
					
					</div>
					<div style="width:30%;" align="center" >

						<div th:if="${dato.s_estado == 'P'}">
							<button class="btn btn-success" id="btnResponder" style="margin:auto" data-toggle="modal" data-target="#modalRespuestaCJ"><strong><i class='fas fa-envelope'></i>&nbsp;ATENDER</strong></button><br><br>
						</div>

						<div th:if="${dato.s_estado == 'A'}">
							<button style="cursor: default; margin:auto" class="btn btn-primary" id="btnVerRespuesta"><strong><i class='fas fa-envelope'></i>&nbsp;ATENDIDO</strong></button>
						</div>
				
					</div>
				</div><hr>
				<div  style="font-size: 11px;">
					<label><strong>SEDE: </strong></label><input th:value="${dato.s_sede}" id="tipoDocumento" readonly="readonly" size="50" value=""><br>
					<label><strong>JUZGADO: </strong></label><input th:value="${dato.x_nom_instancia}" id="tipoDocumento" readonly="readonly" size="50" value=""><br>
					<label><strong>EXPEDIENTE: </strong></label><input th:value="${dato.n_expediente}" id="tipoDocumento" readonly="readonly" size="20" value=""><br>
					<label><strong>PARTE: </strong></label><input th:value="${dato.s_tipo}" id="tipoDocumento" readonly="readonly" size="30" value=""><br>
					<div class="input-group">
					  <div class="input-group-prepend">
					    <span class="input-group-text">DETALLE</span>
					  </div>
					  <textarea style="height: 150px; font-size: 11px;" class="form-control" aria-label="With textarea" th:text="${dato.s_observacion}" readonly="readonly"></textarea><br>
					  
					</div>
				
				</div>

				<hr>
				<div style="font-size: 11px;" th:if="${dato.s_estado == 'A'}">
					<label style="width: 200px"><strong>ATENDIDO EL <span th:text="${dato.fechaAtencion}"></span></strong></label><br>
		      		<div class="input-group">
					  <div class="input-group-prepend">
					    <span class="input-group-text">ACCIONES</span>
					  </div>
					  <textarea style="height: 150px; font-size: 11px;" class="form-control" aria-label="With textarea" th:text="${dato.s_respuesta}" readonly="readonly"></textarea><br>
					  
					</div><br>
				</div>
			</div>
		</div>
	</div>
                
	<div class="modal fade modalRespuestaCJ" id="modalRespuestaCJ" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" >
		  <div class="modal-dialog">
		    <div class="modal-content" th:each="dato:${detalle}">
		    	<div class="loader" id="loader" style="width: 100%; height: 100%;  position: absolute; z-index: 10000;" >
					<div style="position: relative; width: 100%; height: 100%;">
						<div style="background-color: white; width: 100%; height: 100%; padding-top:100px; padding-bottom: auto; padding-left: auto; padding-right: auto; " align="center">
							<div align="center">
								<img alt="ayuda" src="img/corteAQP.png" width="200">
							</div><br>
							<p><strong>ENVIANDO, ESPERE POR FAVOR!</strong></p>
								<img alt="" src="img/send-small.gif">
							<br><br><br><br><br><br>
						</div>
					</div>
				</div>
		    <form class="formRespuestaCJ" action="" method="post" enctype="multipart/form-data" id="formRespuestaCJ">
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel"><strong>RESPUESTA</strong></h5>
		        <button style="display:none;" type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      
		      		<div class="modal-body" style="font-size: 12px">
		      			<input class="solicitud" type="hidden" id="idSolicitud" name="idSolicitud" th:value="${dato.n_id}">
		      			<label style="width: 90px"><strong>SOLICITANTE: </strong></label><input th:value="${dato.nombresCompletos}" id="solicitanteRespuesta" name="solicitanteRespuesta" readonly="readonly" size="40" ><br>
		      			<label style="width: 90px"><strong>CORREO: </strong></label><input th:value="${dato.s_correo}" id="correoRespuesta" name="correoRespuesta" readonly="readonly" size="40" ><br>
		      			<label style="width: 120px"><strong>ENVIAR MENSAJE: </strong></label><select id="lstAccion" name="accion">
		      				<option value="0">SELECCIONE ...</option><option value="N">NO</option><option value="S">SI</option>
		      			</select><br>
		      			<div class="input-group" id="divMensaje">
						  <div class="input-group-prepend">
						    <span class="input-group-text">ACCIONES</span>
						  </div>
						  <textarea style="height: 130px" class="form-control"  required id="textoRespuesta" name="textoRespuesta" aria-label="With textarea"></textarea>
						</div><br>
						
		      		</div>
		      	
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class='fas fa-times fa-lg'></i>&nbsp;CANCELAR</button>
			        <button type="button" class="btn btn-primary btnEnviarRespuestaServicio"><strong><i class='far fa-paper-plane'></i>&nbsp;GUARDAR</strong></button>
			      </div>
		      </form>
		    </div>
		  </div>
		</div>
	
	<div class="modal fade modalSesion" id="modalSesion" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">ATENCIÓN</h5>

	      </div>
	      <div class="modal-body">
	      	<h6>La sesión ha caducado, por favor haga click en el botón OK.</h6>
	        <a class="btn btn-success" href="/">OK</a>
	      </div>
	      <div class="modal-footer">

	      </div>
	    </div>
	  </div>
	</div>

	<script type="text/javascript">
	
	$(".btnEnviarRespuestaServicio").click(function() {
		if($('#lstAccion').val() == '0'){
			toastr.clear();
			toastr.options = {
				"closeButton":true,
				"progressBar": true,
				"positionClass":"toast-topcenter-right"
			};
			toastr.warning("DEBE ELEGIR ACCION!!");
			return false;
		}
		
		if($('#textoRespuesta').val() == ''){
			toastr.clear();
			toastr.options = {
				"closeButton":true,
				"progressBar": true,
				"positionClass":"toast-topcenter-right"
			};
			toastr.warning("DEBE CONSIGNAR LAS ACCIONES TOMADAS!");
			return false;
		}
			
		var form = document.getElementById('formRespuestaCJ');
		var formData = new FormData(form);
		$.ajax({
			type:"POST",
			url:"enviarRespuestaServicio",
			data:formData,
			cache:false,
			dataType:"json",
			contentType:false,
			processData:false,
			beforeSend:function(){
	            $('.loader').show();
	        },
			success:function(response) {
				if(response.Status == 200){ 
					$(".detalleObjetos").empty();
					$(".listaObjetos").load('SERVICIO');
					$('.loader').hide();
					$(".modalRespuestaCJ").modal('hide');
					$('body').removeClass('modal-open');
					$('.modal-backdrop').remove();
					Swal.fire(
						  'REGISTRO ATENDIDO CORRECTAMENTE!!',
						  'Click en OK para continuar!',
						  'success'
						);
				}
				else if(response.Status == 400){
					$('.loader').hide();
					$(".modalRespuestaCJ").modal("hide");
					Swal.fire({
						  icon: 'info',
						  title: 'ATENCIÓN',
						  text: 'El registro ya fue atendido, actualice la lista!!',
						  
					});
				}
				else if(response.Status == 300){
					$('.loader').hide();
					$(".modalRespuestaCJ").modal("hide");
					Swal.fire({
						  icon: 'info',
						  title: 'ATENCIÓN',
						  text: 'Sin conexion al servidor FTP!!',
						  
						});
				}
				else {
					$('.loader').hide();
					$(".modalRespuestaCJ").modal("hide");
					Swal.fire({
						  icon: 'error',
						  title: 'ATENCIÓN',
						  text: 'Algo salió mal, no se pudo enviar la información.!!',
						  
						});
				}
			}
		
		});
	});	
	
	function actualizar(){
		$(".detalleObjetos").empty();
		$(".listaObjetos").load('SERVICIO');
		toastr.clear();
		toastr.options = {
			"closeButton":true,
			"progressBar": true,
			"positionClass":"toast-topcenter-right"
		};
		toastr.success("REGISTROS ACTUALIZADOS!!");
	};
	
	</script>
</body>
</html>