<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style type="text/css">
		input{
	    	border:0;
			border-bottom: 1px solid #009CBF;
	    }
	    input:focus{
			outline:none !important;
	    	outline-width: 0 !important;
	   		box-shadow: none;
	    	-moz-box-shadow: none;
	    	-webkit-box-shadow: none;
	    }
	</style>
	<style type="text/css" media="print">
		@media print {
			.divAlerta {display: none;}
			#cabecera {display:none;}
			#btnImprimir {display:none;}
		}	
	</style>
</head>
<body>
	<div th:fragment="listaObjetos">
		<div class="divEscrutinio" style="display: none;">
			<div style="padding: 10px">
				<div class="divAlerta">			
				<label><strong>ATENCIÓN, si el proceso ya culminó, puede generar el escrutinio haciendo click en el siguiente botón: </strong></label>&nbsp;&nbsp;&nbsp;<button class="btn btn-success btn-sm btnObtEscrutinio" type="button">OBTENER ESCRUTINIO</button>
				&nbsp;&nbsp;&nbsp;<button onclick="window.print();" id="btnImprimir" class="btn btn-outline-dark btn-sm" style="margin:auto"><i class='fas fa-print fa-lg'></i></button><br>
				</div>
				<div class="escrutinio">
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade modalClave" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h6 class="modal-title" id="exampleModalLabel"><strong>CLAVE DE ACCESO</strong></h6>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" align="center">
	        <input type="password" class="txtClaveCafae" placeholder="Ingrese aqui">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">CERRAR</button>
	        <button type="button" class="btn btn-primary btnAcceder"><i class="fas fa-share"></i>&nbsp;ACCEDER</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<script type="text/javascript">
	$(document).ready(function(){
		$('.modalClave').modal('show');
		$('.txtClaveCafae').focus();
	});
	
	$('.btnAcceder').click(function(){
		if ($(".txtClaveCafae").val() == ''){
			toastr.clear();
			toastr.options = {
				"closeButton":true,
				"progressBar": true,
				"positionClass":"toast-topcenter-right"
			};
			toastr.warning("Ingrese clave del proceso!");
			$("#clave").focus() 
	      	return false; 
	   	}
		
		var id = $(".txtClaveCafae").val();
  		var json = {
  			"id" : id
  		};
      	$.ajax({
       		type : "POST",
       		contentType : "application/json",
       		url : "accederCafae",
       		data : JSON.stringify(json),
	        dataType : 'json',
	        cache : false,
	        success : function(response) {
	        	if(response.Status == 200){ 
	        		$(".txtClaveCafae").val('');
	        		$(".modalClave").modal("hide");
	        		$('body').removeClass('modal-open');
					$('.modal-backdrop').remove();
					$('.divEscrutinio').show();
		        	Swal.fire(
						'ACCESO CONCEDIDO!!',
						'Click en OK para continuar!',
						'success'
					);
				}
	        	else{
	        		$(".txtClaveCafae").val('');
	        		$(".modalClave").modal("hide");
	        		$('body').removeClass('modal-open');
					$('.modal-backdrop').remove();
	        		$('.divEscrutinio').hide();
	        		Swal.fire({
						icon: 'error',
						title: 'ATENCIÓN',
						text: 'CLAVE INCORRECTA.!!',
						  
					});
	        	}
	        }
      	});
	});
	
	$('.btnObtEscrutinio').click(function(){
		var url = 'escrutinio';
		$(".escrutinio").load(url);
	});
	</script>
</body>
</html>