<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script src="js/sweetalert2.all.min.js" th:src="@{js/sweetalert2.all.min.js}"></script>	
	<script src="js/toastr.min.js" th:src="@{js/toastr.min.js}"></script>
	<link rel="stylesheet" href="css/toastr.min.css" >
	<style type="text/css">
	  	.selected{ background-color: #E1E1E1; } tr:hover{ background-color: #E1E1E1; } 
	  	input{
    		border:0;
	    	border-bottom: 1px solid #009CBF; 
    	}
    	input:focus{
			outline:none !important;
	    	outline-width: 0 !important;
	   		box-shadow: none;
	    	-moz-box-shadow: none;
	    	-webkit-box-shadow: none;
	    }
	    
		.animated {
		  animation: blinker 1s linear infinite;
		}
		
		@keyframes blinker {
		  50% {
		    opacity: 0;
		  }
		}
	</style>
</head>
<body>
	
	<div  th:fragment="listaObjetos">
		<div style="width:100%; height: 100%" id=solicitud>
			<div class="form-row">
				<div class="form-row">
				<select id="lstTipoBusqueda"><option value="T">NOMBRES. o EXP.</option></select>&nbsp;&nbsp;
				<input id="x_texto" style="font-size: 12px;" name="x_texto" class="x_texto" type="text" placeholder="Escriba aqui" />&nbsp;&nbsp;
				<button type="button" id="btnBuscarRectificacion" class="btn btn-outline-primary btn-sm"><i class='fas fa-search'></i></button>
				</div>
			</div>

			<table style="font-size:10px" class="table table-hover table-sm tablaDemandas" id="tablaDemandas">
				<thead>
					<tr>
						<th></th>
						<th><strong><label style="font-size: 12px" th:text="${tipo}"></label></strong> - <strong><label id="lblRows" style="font-size: 12px"></label></strong><input type="hidden" id="formulario" th:value="${formulario}"></th>
						<th align="center"><button onclick="actualizar()" class="btn btn-outline-success btn-sm"><i class='fas fa-sync-alt fa-lg'></i></button></th>
					</tr>
				</thead>
				<tbody class="buscar">
					<tr style="cursor: pointer" th:each="demanda:${demandas}" id="filasDemandas" class="filasDemandas">
						<td th:text="${demanda.id}"></td>
						<td style="display: none" th:text="${demanda.estado}">
						<td><strong>INGRESADO: <i><span th:text="${demanda.fechaSistema}"></span><br></i>DE: <i><span th:text="${demanda.nombres}"></span></i></strong><br><strong>DOCUMENTO: <span th:text="${demanda.documento}"></span></strong>&nbsp;&nbsp;<br>
						</td>
						<td th:switch="${demanda.estado}" align="center">
                           	<label class="switch">
                           	<span th:case="'P'" ><img src="img/mensaje.png" align="middle" th:src="@{img/mensaje.png}" width="25"/><br>PENDIENTE</span>
                           	<span th:case="'T'" ><img src="img/email.png" align="middle" th:src="@{img/email.png}" width="20"/><br><span style="font-size: 9px">EN TRAMITE POR</span><br><span th:text="${demanda.usuario}"></span></span>
                           	<span th:case="'R'" ><img src="img/sinvisto.png" align="middle" th:src="@{img/sinvisto.png}" width="30"/><br>RECHAZADO</span>
                           	<span th:case="'A'" ><img src="img/enviado.png" align="middle" th:src="@{img/enviado.png}" width="28"/><br>REGISTRADO EN SIJ</span>
							</label>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	
	<script type="text/javascript">
		$(document).ready(function(){
			var rowCount = $('#tablaDemandas tr').length;
	    	document.getElementById('lblRows').innerHTML = 'Registros: ' + (rowCount-1);
	    	$('.txtBuscarSolicitud').val('');
	    	
	    	$('#lstTipoBusqueda').change(function(){
				var accion = $(this).find(":selected").val();
				if(accion == 'T'){
					$('#x_texto').show();
					$('#x_inicio').hide();
					$('#x_fin').hide();
				}
				else{
					$('#x_texto').hide();
					$('#x_inicio').show();
					$('#x_fin').show();
				}
			});
	    	
	    });
		$(document).ready(function () {  
		    (function ($) {
		        $('.txtBuscarSolicitud').keyup(function () {
		             var rex = new RegExp($(this).val(), 'i');
		             $('.buscar tr').hide();
		             $('.buscar tr').filter(function () {
		               return rex.test($(this).text());
		             }).show();
		        })
		    }(jQuery));
		});
		$("#tablaDemandas #filasDemandas").click(function(){
			$(this).addClass('selected').siblings().removeClass('selected');	 

		   	var value=$(this).find('td:first').html();
		   	var form=$('#formulario').val();

		   	$(".detalleObjetos").empty();
			$.get( "detalleRectificacion", { id: value})
				.done(function(data) {
					$(".detalleObjetos").html(data);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.success("DATOS RECUPERADOS!!");
				})
				.fail( function() {
					Swal.fire({
					  	icon: 'error', title: 'ATENCIÓN', text: 'Algo salió mal, no se pudo obtener la información. Actualice toda la página!!',
					});
				});
		});	
		
		$('#btnBuscarRectificacion').click(function(){
			var texto = $('#x_texto').val();
			$.get( "buscarRectificacion", {texto:texto})
		    .done(function( data ) {
		    	$(".listaObjetos").html(data);
		    	$(".detalleObjetos").empty();
		    });
		});
		
		function actualizar(){
				getRegistrosCDG();
		};
		
		function getRegistrosCDG(){
			var sede = $('#lstSedes').val();
			$.get( "RECTIFICACION", {sede:sede})
		    .done(function( data ) {
		    	$(".listaObjetos").html(data);
		    	$(".detalleObjetos").empty();
		    	toastr.clear();
				toastr.options = {
					"closeButton":true,
					"progressBar": true,
					"positionClass":"toast-topcenter-right"
				};
				toastr.success("REGISTROS ACTUALIZADOS!!");
		    });
		}
		
	</script>
</body>
</html>