<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>CDM - Sistema de gestión de solicitudes</title>
	<link rel="icon" type="img/jpg" href="img/pj.jpg" />
	<link rel="stylesheet" href="css/bootstrap.min.css" >
	<link rel="stylesheet" href="css/toastr.min.css" >
	<link rel="stylesheet" href="css/estilo.css" >
	<script src="js/sweetalert2.all.min.js" th:src="@{js/sweetalert2.all.min.js}"></script>	
	<script src="js/jquery-3.5.1.js"></script>
	<script src="js/popper.min.js" th:src="@{js/popper.min.js}"></script>
	<script src="js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
	<script src="js/toastr.min.js" th:src="@{js/toastr.min.js}"></script>
	<script src="js/funciones.js" th:src="@{js/funciones.js}"></script>
	<script src="js/iconos.js"></script>
    <script type="text/javascript">
	
	function cambiarClave(){
		if ($("#clave").val().length < 6){ 
			
			toastr.clear();
			toastr.options = {
				"closeButton":true,
				"progressBar": true,
				"positionClass":"toast-topcenter-right"
			};
			toastr.warning("Campo CLAVE incorrecto!");
			
			$("#clave").value=""
			$("#clave").focus() 
	      	return false; 
	   	}
		
		Swal.fire({
			  title: 'Está seguro de cambiar la clave?',
			  text: "",
			  icon: 'question',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'SI, Cambiar!'
			}).then((result) => {
				if (result.value) {
					
					$(function () {
					    var token = $("input[name='_csrf']").val();
					    var header = "X-CSRF-TOKEN";
					    $(document).ajaxSend(function(e, xhr, options) {
					        xhr.setRequestHeader(header, token);
					    });
					});
					
					  $.ajax({
							type:"post",
							url: "cambiarClave",
							cache: false,				
							data:"clave=" + $("#clave").val(),
							success: function(response){
								Swal.fire(
										  'Cambios realizados con éxito!!',
										  'Click en OK para continuar!',
										  'success'
										)
										$('#staticBackdrop').modal('hide');
							},
							error: function(){						
								Swal.fire({
									  icon: 'info',
									  title: 'ATENCIÓN',
									  text: 'Oops. Algo salió mal!!',
									  
									})
							}
						});


				  }
			})
	}
	
	</script>
	


</head>
<body>
	<div  style="background-color: #4E0000;">
			<div id="cabecera" style="padding-top: 10px;padding-bottom: 1px" align="center">
				<a href="principal" style="color:white;font-size:16px;"><img alt="ayuda" src="img/pj.svg" width="20px">&nbsp;&nbsp;&nbsp;<strong>CORTE SUPERIOR DE JUSTICIA DE AREQUIPA - CDM</strong></a>
				<p style="color: white;font-size:15px;"><strong>Sistema de Gestión de solicitudes</strong></p>
			</div>
	</div>
	<div style="background-color: #790000; padding:0px; border-bottom: 4px solid #C4C4C4;">
		<div class="form-row contenidoGeneral" id="menu">
			 <div style="width: 75%; padding-top: 5px">
			  	<a type="button" onclick="devolucion()"><i class='fas fa-share-square'></i>&nbsp;DEVOLUCIÓN</a>
			  	<a type="button" onclick="expedicion()"><i class='fas fa-file-invoice'></i>&nbsp;EXPEDICIÓN</a>
			  	<a type="button" onclick="copias()"><i class='far fa-copy'></i>&nbsp; COPIAS</a>
			  	<a type="button" onclick="lectura()"><i class='fas fa-book-reader'></i>&nbsp; LECTURA</a>
			  	<a type="button" onclick="endose()"><i class='fas fa-hand-holding-usd'></i>&nbsp; ENDOSE</a>
			  	<a type="button" onclick="gestion()"><i class='fas fa-user-tie'></i>&nbsp; GESTION EXP</a>
			  	<a type="button" onclick="meet()"><i class='fas fa-video'></i>&nbsp; MEET</a>
			  	<a type="button" onclick="usuarios()"><i class='fas fa-users'></i>&nbsp; USUARIOS</a>
		  	</div>
		  	<div align="right" style="width: 25%;">
		  		<button type="button" class="btn btn-sm btn-outline-light btn-sm" sec:authorize="isAuthenticated()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	   			<h6 th:text="${nombre}"></h6>
	  			</button>
		  		<div style="margin-left:  13px" class="dropdown-menu">
		    		<button style="color: black; font-size: 11px" type="button" class="dropdown-item" data-toggle="modal" data-target="#staticBackdrop"><i class='fas fa-key'></i>&nbsp;CAMBIAR CLAVE</button>
			    	<div class="dropdown-divider"></div>
			    	<form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post"  sec:authorize="isAuthenticated()">
			    		<button style="font-size: 11px; margin-left: 10px;" class="dropdown-item" type="submit"><i class='fas fa-power-off'></i>&nbsp;SALIR</button>
			   	 	</form>
		  		</div>
			</div>
		</div>
	</div>
	<div style="width: 90%;  height: 75%; margin: auto;" class="form-row" id=contenido>
		<div id="listaObjetos" style="width:100%; height: 100%; overflow-y: scroll;" class="card card-body listaObjetos">
		</div>
	</div>
	
	
	<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel">NUEVA CLAVE</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <input type="password" name="clave" id="clave" class="form-control form-control-sm">
		        </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class='fas fa-times fa-lg'></i>&nbsp;CANCELAR</button>
		        <button onclick="cambiarClave()" type="button" class="btn btn-success"><i class='fa fa-save	'></i>&nbsp;ACEPTAR</button>
		      </div>
		    </div>
		  </div>
		</div>
		
	
	<footer style="background-color: black;  left: 0;  bottom: 0;  width: 100%; position: fixed; color: white;  text-align: center;">		
		<div style="     margin:0px auto ;   width:100%;   overflow: hidden; padding-top: 10px">
			<p style="color: white; font-size: 10px"> Corte Superior de Justicia de Arequipa  - Plaza España S/N - Arequipa - Peru<br> &copy; CSJAR-CDM 2020 - Todos los derechos reservados </p>
		</div>
	</footer>
		<script src="js/usuario.js" th:src="@{js/usuario.js}"></script>
	<script type="text/javascript">
			
	function devolucion(){	
		var url='devolucion';
		$(".listaObjetos").empty();
		$(".listaObjetos").load(url);
	}
	function expedicion(){	
		var url='expedicion';
		$(".listaObjetos").empty();
		$(".listaObjetos").load(url);
	}
	function copias(){	
		var url='copias';
		$(".listaObjetos").empty();
		$(".listaObjetos").load(url);
	}
	function lectura(){	
		var url='lectura';
		$(".listaObjetos").empty();
		$(".listaObjetos").load(url);
	}
	function endose(){	
		var url='endose';
		$(".listaObjetos").empty();
		$(".listaObjetos").load(url);
	}
	function usuarios(){	
		$.ajax({
			url: "usuarios",
	        type: 'GET',
	        async : false,
	        success: function (result) {
	        	$(".listaObjetos").empty();
	        	$(".listaObjetos").html(result);
	   		}});
		
		}
			
	    </script>

</body>
</html>